.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.search-form {
  text-align: center;
}
.gallery {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.photo-card {
  width: 450px;
  outline: 2px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.load-more {
  display: none;
  padding: 10px;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 5px;
}
