body {
  background-color: lightcyan;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.search-form {
  text-align: center;
}
.gallery {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.gallery__link {
  color: #053912;
  text-decoration: none;
}

.photo-card {
  background-color: #fff;
  width: 450px;
  min-height: 420px;
  outline: 2px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

.info {
  padding: 0 10px;
  display: flex;
  text-align: center;
  gap: 10px;
}
.info-item {
  flex-direction: column;
  display: flex;
}
.load-more {
  display: none;
  padding: 10px;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 5px;
}
